:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s, background-color 0.25s;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

header {
  display: flex;
  align-items: center;
}

aside {
  overflow-y: auto;
  padding: 0.5rem;
}

aside input {
  margin-top: 0.25rem;
  width: 100%;
}

aside .file-item {
  cursor: pointer;
  padding: 0.25rem;
}

aside .file-item:hover {
  background-color: #444;
}

aside .file-item.selected {
  background-color: #555;
}

.resizer {
  width: 5px;
  cursor: col-resize;
  background-color: #555;
  z-index: 10;
}

.highlight-keyword {
  color: #c792ea;
  font-weight: bold;
}

.highlight-identifier {
  color: #82aaff;
}

.highlight-function_definition,
.highlight-function_declaration {
  color: #82aaff;
  font-weight: bold;
}

.highlight-type_identifier {
  color: #ffcb6b;
  font-style: italic;
}

.highlight-string {
  color: #c3e88d;
}

.highlight-number,
.highlight-number_literal {
  color: #f78c6c;
}

.highlight-comment {
  color: #616161;
  font-style: italic;
}

.highlight-operator {
  color: #89ddff;
}

.highlight-parameter {
  color: #ffcb6b;
}

.highlight-property_identifier {
  color: #addb67;
}

.highlight-class_declaration,
.highlight-interface_declaration {
  color: #ffcb6b;
  font-weight: bold;
}

.monaco-editor { position: absolute !important; }

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }

  aside {
    background-color: #333;
    color: #fff;
  }

  .resizer {
    background-color: #666;
  }
}
